@namespace AoC2023.FrontEnd.Components.Hx
@inject LinkGenerator lg

@code {
    public record Tab(string Name, string Endpoint);

    [Parameter, EditorRequired]
    public List<Tab> TabData { get; set; }

    // initial render
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}


 <div class="tab-list" role="tablist">
    <HxTabButton Endpoint=@TabData[0].Endpoint Name=@TabData[0].Name Selected=true />
    @foreach (var tab in TabData.Skip(1))
    {
        <HxTabButton Endpoint=@tab.Endpoint Name=@tab.Name />
    }
</div>

<div id="tab-content" role="tabpanel" class="tab-content">
    @if (ChildContent is not null)
    {
        @ChildContent
    }
    else
    {
        @: click on tab to load content
    }
</div>
