@namespace AoC2023.FrontEnd.Components.Hx
@code {
    [Parameter, EditorRequired]
    public string Target { get; set; } = default!;

    [Parameter, EditorRequired]
    public string Endpoint { get; set; } = default!;

}

@{
    Dictionary<string, object> btnAttributes = new() {
        { "hx-get", Endpoint },
        { "hx-target", Target },
        { "role", "button" }
    };
}

<button @attributes=@btnAttributes>Click Me</button>