@using AoC2023.FrontEnd.Components.Hx
@inject ICounterService CounterService
@attribute [StreamRendering]

@namespace AoC2023.FrontEnd.Components.Pages
@page "/counter2"

<PageTitle>Counter Simple</PageTitle>

<div id="target">
    <HxCounter Count=@CounterService.Count />
</div>
<a role="button" href="" hx-get="/increment2" hx-target="#target">Increment the counter</a>

@{
    List<HxTabControl.Tab> tabs = new();
    tabs.Add(new(Name: "first", Endpoint: "/tab?tab=1"));
    tabs.Add(new(Name: "second", Endpoint: "/tab?tab=2"));
}
<HxTabControl TabData=@tabs>
    This is HxTabControl... Click on tabs to load data.
</HxTabControl>